<div class="content-wrapper p-0" *ngIf="!isLoading">
  <div class="content-body p-0">
    <section class="form mb-5">
      <div class="row justify-content-center p-0">
        <div class="col-10 col-sm-12 mb-5">
          <div
            class="card m-0 px-5 py-4 d-flex align-items-center justify-content-center">
            <div
              class="d-flex align-items-center flex-column justify-content-start">
              <h3 class="m-0 mb-2 me-3">Updated Period</h3>
              <h5 class="m-0 mr-2">Tanév 2022-2023</h5>
            </div>
            <hr />
            <div class="col-md-10">
              <form
                action="javascript:"
                (ngSubmit)="update()"
                [formGroup]="updatePeriodForm"
                autocomplete="off">
                <div class="row">
                  <div class="form-group col-md-5 mb-5">
                    <label class="mb-1" for="major"
                      ><h5>Major</h5></label
                    >
                    <input
                      [disabled]="true"
                      id="major"
                      class="form-control mb-5"
                      formControlName="major"
                      Placeholder="Start of entering topics"
                      [ngClass]="{
                        'is-invalid': submitted && f.major.errors
                      }"
                      [(ngModel)]="periodDto.major.programme" />
                  </div>
                  <div
                    *ngIf="submitted && f.major.errors"
                    class="invalid-feedback">
                    <div *ngIf="f.major.errors.required">
                      Major is required !
                    </div>
                  </div>
                </div>
                <div class="row justify-content-around">
                  <div class="form-group col-md-5">
                    <label for="startOfEnteringTopics"
                      ><h5>Diplomák létrehozásának kezdete</h5></label
                    >
                    <input
                      type="text"
                      id="startOfEnteringTopics"
                      formControlName="startOfEnteringTopics"
                      class="form-control mb-5"
                      [ngClass]="{
                        'is-invalid':
                          submitted && f.startOfEnteringTopics.errors
                      }"
                      bsDatepicker
                      [minDate]="periodDto.startOfEnteringTopics"
                      Placeholder="Start of entering topics"
                      [bsConfig]="{ dateInputFormat: 'YYYY.MM.DD' }"
                      [(ngModel)]="periodDto.startOfEnteringTopics" />
                  </div>
                  <div
                    *ngIf="
                      submitted && f.startOfEnteringTopics.errors
                    "
                    class="invalid-feedback">
                    <div
                      *ngIf="f.startOfEnteringTopics.errors.required">
                      Diplomák létrehozásának kezdete kötelező!
                    </div>
                  </div>
                  <div class="form-group col-md-5">
                    <label for="endOfEnteringTopics"
                      ><h5>Diplomák létrehozásának vége!</h5></label
                    >
                    <input
                      type="text"
                      class="form-control mb-5"
                      id="endOfEnteringTopics"
                      formControlName="endOfEnteringTopics"
                      [ngClass]="{
                        'is-invalid':
                          submitted && f.endOfEnteringTopics.errors
                      }"
                      bsDatepicker
                      name="startOfEnteringTopics"
                      [bsConfig]="{ dateInputFormat: 'YYYY.MM.DD' }"
                      [minDate]="periodDto.startOfEnteringTopics"
                      Placeholder="End of entering topics"
                      [(ngModel)]="periodDto.endOfEnteringTopics" />
                  </div>
                  <div
                    *ngIf="submitted && f.endOfEnteringTopics.errors"
                    class="invalid-feedback">
                    <div
                      *ngIf="f.endOfEnteringTopics.errors.required">
                      Diplomák létrehozásának vége kötelező!
                    </div>
                  </div>
                </div>
                <div class="row justify-content-around">
                  <div class="form-group col-md-5">
                    <label for="firstTopicAdvertisement"
                      ><h5>
                        Diplomák meghirdetésének kezdete első kör
                      </h5></label
                    >
                    <input
                      formControlName="firstTopicAdvertisement"
                      type="text"
                      class="form-control mb-5"
                      id="firstTopicAdvertisement"
                      [ngClass]="{
                        'is-invalid':
                          submitted &&
                          f.firstTopicAdvertisement.errors
                      }"
                      bsDatepicker
                      name="firstTopicAdvertisement"
                      [bsConfig]="{ dateInputFormat: 'YYYY.MM.DD' }"
                      [minDate]="periodDto.endOfEnteringTopics"
                      Placeholder="First Topic Advertisement"
                      [(ngModel)]="
                        periodDto.firstTopicAdvertisement
                      " />
                  </div>
                  <div
                    *ngIf="
                      submitted && f.firstTopicAdvertisement.errors
                    "
                    class="invalid-feedback">
                    <div
                      *ngIf="
                        f.firstTopicAdvertisement.errors.required
                      "></div>
                  </div>
                  <div class="form-group col-md-5">
                    <label for="firstTopicAdvertisementEnd"
                      ><h5>
                        Diplomák meghirdetésének kezdete első körének
                        vége
                      </h5></label
                    >
                    <input
                      type="text"
                      formControlName="firstTopicAdvertisementEnd"
                      class="form-control mb-5"
                      id="firstTopicAdvertisementEnd"
                      [ngClass]="{
                        'is-invalid':
                          submitted &&
                          f.firstTopicAdvertisementEnd.errors
                      }"
                      bsDatepicker
                      name="firstTopicAdvertisement"
                      [bsConfig]="{ dateInputFormat: 'YYYY.MM.DD' }"
                      [minDate]="periodDto.firstTopicAdvertisement"
                      Placeholder="First Topic Advertisement"
                      [(ngModel)]="
                        periodDto.firstTopicAdvertisementEnd
                      " />
                  </div>
                  <div
                    *ngIf="
                      submitted && f.firstTopicAdvertisementEnd.errors
                    "
                    class="invalid-feedback">
                    <div
                      *ngIf="
                        f.firstTopicAdvertisementEnd.errors.required
                      ">
                      Diplomák meghirdetésének első körének vége
                      kötelező!
                    </div>
                  </div>
                </div>
                <div class="row justify-content-around">
                  <div class="form-group col-md-5">
                    <label for="firstAllocation"
                      ><h5>Első leosztás</h5></label
                    >
                    <input
                      type="text"
                      class="form-control mb-5"
                      id="firstAllocation"
                      formControlName="firstAllocation"
                      [ngClass]="{
                        'is-invalid':
                          submitted && f.firstAllocation.errors
                      }"
                      bsDatepicker
                      name="firstAllocation"
                      [bsConfig]="{ dateInputFormat: 'YYYY.MM.DD' }"
                      [minDate]="periodDto.firstTopicAdvertisementEnd"
                      Placeholder="First Allocation"
                      [(ngModel)]="periodDto.firstAllocation" />
                  </div>
                  <div
                    *ngIf="submitted && f.firstAllocation.errors"
                    class="invalid-feedback">
                    <div *ngIf="f.firstAllocation.errors.required">
                      Első leosztás kötelező!
                    </div>
                  </div>
                  <div class="form-group col-md-5">
                    <label for="secondTopicAdvertisement"
                      ><h5>
                        Diplomák meghirdetésének kezdete második kör
                      </h5></label
                    >
                    <input
                      type="text"
                      class="form-control mb-5"
                      formControlName="secondTopicAdvertisement"
                      id="secondTopicAdvertisement"
                      [ngClass]="{
                        'is-invalid':
                          submitted &&
                          f.secondTopicAdvertisement.errors
                      }"
                      bsDatepicker
                      name="secondTopicAdvertisement"
                      [bsConfig]="{ dateInputFormat: 'YYYY.MM.DD' }"
                      [minDate]="periodDto.firstAllocation"
                      Placeholder="Second Topic Advertisement"
                      [(ngModel)]="
                        periodDto.secondTopicAdvertisement
                      " />
                  </div>
                  <div
                    *ngIf="
                      submitted && f.secondTopicAdvertisement.errors
                    "
                    class="invalid-feedback">
                    <div
                      *ngIf="
                        f.secondTopicAdvertisement.errors.required
                      ">
                      Diplomák meghirdetésének kezdete második kör
                      kötelező
                    </div>
                  </div>
                </div>
                <div class="row justify-content-around">
                  <div class="form-group col-md-5">
                    <label for="secondTopicAdvertisementEnd"
                      ><h5>
                        Diplomák meghirdetésének első körének vége
                      </h5></label
                    >
                    <input
                      type="text"
                      class="form-control mb-5"
                      id="secondTopicAdvertisementEnd"
                      formControlName="secondTopicAdvertisementEnd"
                      [ngClass]="{
                        'is-invalid':
                          submitted &&
                          f.secondTopicAdvertisementEnd.errors
                      }"
                      bsDatepicker
                      name="secondTopicAdvertisementEnd"
                      [bsConfig]="{ dateInputFormat: 'YYYY.MM.DD' }"
                      [minDate]="periodDto.secondTopicAdvertisement"
                      Placeholder="Second Topic Advertisement"
                      [(ngModel)]="
                        periodDto.secondTopicAdvertisementEnd
                      " />
                  </div>
                  <div
                    *ngIf="
                      submitted &&
                      f.secondTopicAdvertisementEnd.errors
                    "
                    class="invalid-feedback">
                    <div
                      *ngIf="
                        f.secondTopicAdvertisementEnd.errors.required
                      ">
                      Diplomák meghirdetésének első körének vége
                      köetelező
                    </div>
                  </div>
                  <div class="form-group col-md-5">
                    <label for="secondAllocation"
                      ><h5>Második leosztás</h5></label
                    >
                    <input
                      type="text"
                      class="form-control mb-5"
                      id="secondAllocation"
                      formControlName="secondAllocation"
                      [ngClass]="{
                        'is-invalid':
                          submitted && f.secondAllocation.errors
                      }"
                      bsDatepicker
                      name="secondAllocation"
                      [bsConfig]="{ dateInputFormat: 'YYYY.MM.DD' }"
                      [minDate]="
                        periodDto.secondTopicAdvertisementEnd
                      "
                      Placeholder="Second Allocation"
                      [(ngModel)]="periodDto.secondAllocation" />
                  </div>
                  <div
                    *ngIf="submitted && f.secondAllocation.errors"
                    class="invalid-feedback">
                    <div *ngIf="f.secondAllocation.errors.required">
                      Második leosztás kötelező
                    </div>
                  </div>
                </div>
                <div class="row justify-content-around">
                  <div class="form-group col-md-5">
                    <label for="implementationOfTopics"
                      ><h5>Diplomák kidolgozása</h5></label
                    >
                    <input
                      type="text"
                      formControlName="implementationOfTopics"
                      class="form-control mb-5"
                      id="implementationOfTopics"
                      [ngClass]="{
                        'is-invalid':
                          submitted && f.implementationOfTopics.errors
                      }"
                      bsDatepicker
                      name="implementationOfTopics"
                      [bsConfig]="{ dateInputFormat: 'YYYY.MM.DD' }"
                      [minDate]="periodDto.secondAllocation"
                      Placeholder="Implementation Of Topics"
                      [(ngModel)]="
                        periodDto.implementationOfTopics
                      " />
                  </div>
                  <div
                    *ngIf="
                      submitted && f.implementationOfTopics.errors
                    "
                    class="invalid-feedback">
                    <div
                      *ngIf="
                        f.implementationOfTopics.errors.required
                      ">
                      Diplomák kidolgozása kötelező
                    </div>
                  </div>
                  <div class="form-group col-md-5">
                    <label for="documentumUpload"
                      ><h5>Dokumnetumok feltöltése</h5></label
                    >
                    <input
                      type="text"
                      class="form-control mb-5"
                      id="documentumUpload"
                      formControlName="documentumUpload"
                      [ngClass]="{
                        'is-invalid':
                          submitted && f.documentumUpload.errors
                      }"
                      bsDatepicker
                      name="documentumUpload"
                      [bsConfig]="{ dateInputFormat: 'YYYY.MM.DD' }"
                      [minDate]="periodDto.implementationOfTopics"
                      Placeholder="Documentum Upload Of Topics"
                      [(ngModel)]="periodDto.documentumUpload" />
                  </div>
                  <div
                    *ngIf="submitted && f.documentumUpload.errors"
                    class="invalid-feedback">
                    <div *ngIf="f.documentumUpload.errors.required">
                      Dokumentumok feltöltése kötelező!
                    </div>
                  </div>
                </div>
                <div class="row justify-content-center flex-row">
                  <div class="form-group col-md-5">
                    <label for="diplomaDefend"
                      ><h5>Diploma megvédése</h5></label
                    >
                    <input
                      type="text"
                      class="form-control mb-5"
                      id="diplomaDefend"
                      formControlName="diplomaDefend"
                      [ngClass]="{
                        'is-invalid':
                          submitted && f.diplomaDefend.errors
                      }"
                      bsDatepicker
                      name="diplomaDefend"
                      [bsConfig]="{ dateInputFormat: 'YYYY.MM.DD' }"
                      [minDate]="periodDto.documentumUpload"
                      Placeholder="Documentum Upload Of Topics"
                      [(ngModel)]="periodDto.diplomaDefend" />
                  </div>
                  <div
                    *ngIf="submitted && f.diplomaDefend.errors"
                    class="invalid-feedback">
                    <div *ngIf="f.diplomaDefend.errors.required">
                      Diploma megvédése kötelező
                    </div>
                  </div>
                  <div class="d-flex justify-content-end">
                    <button type="submit" class="btn btn-primary">
                      Időszak frissítése!
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
