<div class="content-wrapper p-0">
  <app-preloader *ngIf="isLoading"></app-preloader>
  <div class="content-body p-0" *ngIf="!isLoading">
    <div class="profile-foreground position-relative mx-n4 mt-n4">
      <div class="profile-wid-bg">
        <img
          src="assets/images/small/img-1.jpg"
          alt=""
          style=""
          class="profile-wid-img" />
      </div>
    </div>
    <div class="pt-4 mb-4 mb-lg-3 pb-lg-4 profile-wrapper">
      <div class="row g-4">
        <div class="col">
          <div class="p-2">
            <h3 class="text-white mb-1 d-flex align-items-center">
              <i class="ri-user-add-fill me-1 display-3"></i>
              Tanárok hozzáadása
            </h3>
          </div>
        </div>
      </div>
    </div>
    <div class="row p-3 card flex-row justify-content-between">
      <div class="col-4">
        <div class="row">
          <div class="col-12 card">
            <div class="card-body">
              <h2>Tanár hozzáadása</h2>
              <form
                (ngSubmit)="createTeacher()"
                #fileUploadForm="ngForm"
                [formGroup]="createTeacherForm">
                <div class="form-group">
                  <label for="firstName"><h5>Család név</h5></label>
                  <input
                    type="text"
                    id="firstName"
                    formControlName="firstName"
                    [(ngModel)]="newTeacher.firstName"
                    class="form-control mb-2"
                    [ngClass]="{
                      'is-invalid': submitted && f.firstName.errors
                    }" />
                </div>
                <div class="form-group">
                  <label for="lastName"><h5>Vezeték név</h5></label>
                  <input
                    type="text"
                    id="lastName"
                    formControlName="lastName"
                    [(ngModel)]="newTeacher.lastName"
                    class="form-control mb-2"
                    [ngClass]="{
                      'is-invalid': submitted && f.lastName.errors
                    }" />
                </div>
                <div class="form-group">
                  <label for="email"><h5>Email</h5></label>
                  <input
                    type="email"
                    id="email"
                    [(ngModel)]="newTeacher.email"
                    formControlName="email"
                    class="form-control mb-4"
                    [ngClass]="{
                      'is-invalid': submitted && f.email.errors
                    }" />
                </div>
                <div class="form-group">
                  <label for="role"><h5>Beosztás</h5></label>
                  <select
                    #t
                    (change)="selectChange(t.value)"
                    name="role"
                    id="role"
                    formControlName="role"
                    [(ngModel)]="newTeacher.role"
                    class="form-control mb-4">
                    <option value="teacher">Tanár</option>
                    <option value="departmenthead">
                      Tanszékvezető
                    </option>
                  </select>
                </div>
                <div class="form-group" *ngIf="isdepartmentHead">
                  <label for="major"><h5>Tanszék</h5></label>
                  <select
                    name="department"
                    id="department"
                    formControlName="department"
                    [(ngModel)]="selectedDepartmentID"
                    class="form-control mb-4">
                    <ng-container *ngFor="let depart of departments">
                      <option [value]="depart.departmentId">
                        {{ depart.name }}
                      </option>
                    </ng-container>
                  </select>
                </div>
                <div class="d-flex justify-content-end">
                  <button
                    *ngIf="!wannaUpdate"
                    type="submit"
                    class="btn btn-primary">
                    Hozzáadás
                  </button>
                  <button
                    *ngIf="wannaUpdate"
                    type="button"
                    class="btn btn-warning me-2"
                    (click)="cancelUpdate()">
                    Mégse
                  </button>
                  <button
                    *ngIf="wannaUpdate"
                    type="button"
                    class="btn btn-primary"
                    (click)="updateTeacher()">
                    Frissités
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="col-7 card p-3">
        <div class="row align-items-center justify-content-center">
          <div class="col-12">
            <div class="row">
              <div class="col-8">
                <h4>Tanárok</h4>

                <h5>Tanárok száma: {{ teachers.length }}</h5>
              </div>
              <div class="col-4">
                <div class="row">
                  <div class="col">
                    <div
                      class="d-flex align-items-center justify-content-end pr-1 pb-1 pb-md-0">
                      <input
                        name="searchValue"
                        type="search"
                        class="form-control ml-25"
                        (keyup)="filterUpdate($event)"
                        (search)="filterUpdate($event)"
                        placeholder="Keress tanulót" />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div>
          <ng-container *ngFor="let teacher of teachers">
            <div class="card my-2">
              <div class="card-header p-4 py-2">
                <div
                  class="row align-items-center justify-content-between">
                  <div class="col-auto me-5">
                    <h4 class="m-0">
                      {{ teacher.firstName }} {{ teacher.lastName }}
                    </h4>
                  </div>
                  <div
                    class="col-3 d-flex justify-content-center align-items-center">
                    <button
                      type="button"
                      class="btn btn-icon btn-outline-warning me-2"
                      (click)="selectTeacher(teacher.id)">
                      <i class="ri-edit-box-line"></i>
                    </button>
                    <button
                      type="button"
                      class="btn btn-icon btn-outline-danger"
                      (click)="deleteTeacher(teacher.id)">
                      <i class="ri-delete-bin-line"></i>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</div>
